READ_ENVFILE=True
DJANGO_SECRET_KEY=long-random-string
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
POSTGRES_DB=book_store
POSTGRES_USER=bookstore
POSTGRES_PASSWORD=password
POSTGRES_SERVICE=localhost:5433
DB_CONN_MAX_AGE=30
